<div class="form-group">
  Продолжая работу с сайтом, даю согласие на обработку своих персональных данных в соответствии с
    <a href="https://bikmansurov.ru/privacy_policy.pdf">Политикой конфиденциальности</a>
</div>
