<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <span><%= I18n.t("errors.messages.not_saved",
                     count: errors.count,
                     resource: model.class.model_name.human)
    %></span>
    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
