<div class="row">
  <div class="col-lg-6 col-md-6 ml-auto mr-auto">
    <h2><%= t("action.edit_profile") %></h2>

    <%= render partial: 'form', locals: {user: @user} %>

    <div>
      <%= link_to t("action.change_password"), edit_user_registration_path %>
    </div>
  </div>
</div>