<span class="subscription">
  <% if subscription.user.present? %>
    <%= render partial: 'users/user', object: subscription.user %>
  <% else %>
    <em><%= subscription.user_name %></em>
  <% end %>
  <% if current_user_can_edit?(subscription) %>
    <%= link_to(event_subscription_path(subscription.event, subscription),
                html_options = {method: :delete, data: {confirm: t('.destroy_confirm')}}) do %>
        <i class="fa fa-times mx-2" aria-hidden="true"></i>
    <% end %>

  <% end %>
</span>